branches:
  except:
    - /^\d+\.\d+\.\d+(-\S*)?$/
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      language: ruby
      before_install:
        - export SYM_INSTALL_URL="https://gist.githubusercontent.com/YOCKOW/52756b7061c4e92ca960cf2ff9506560/raw/847fc88e5db0c488b610e2f7bc5f0e06c0b74892/symbolic-install"
        - export SWIFT_ARCHIVE_URL="https://swift.org/builds/swift-4.2-branch/ubuntu1404/swift-4.2-DEVELOPMENT-SNAPSHOT-2018-07-11-a/swift-4.2-DEVELOPMENT-SNAPSHOT-2018-07-11-a-ubuntu14.04.tar.gz"
        - curl ${SWIFT_ARCHIVE_URL} -o ../swift.tar.gz
        - mkdir ../swift
        - tar xzf ../swift.tar.gz -C ../swift --strip-components 2
        - curl ${SYM_INSTALL_URL} -o ../symbolic-install
        - chmod a+x ../symbolic-install
        - sudo ../symbolic-install ../swift > /dev/null
        - sudo ldconfig
    - os: osx
      osx_image: xcode9.4
      sudo: required
      language: objective-c
      before_install:
        - export XCODE_ARCHIVE_URL="https://swift.org/builds/swift-4.2-branch/xcode/swift-4.2-DEVELOPMENT-SNAPSHOT-2018-07-11-a/swift-4.2-DEVELOPMENT-SNAPSHOT-2018-07-11-a-osx.pkg"
        - curl ${XCODE_ARCHIVE_URL} -o ./xcode.pkg
        - sudo install -pkg ./xcode.pkg -target /
script:
  - swift build
  - swift build --configuration release
  - swift test
